.full-header.colorized-header
{
    background: none;
    background-color: rgb(161, 231, 242);
    background-image: linear-gradient(30deg, rgba(135,186,237,1) 0%, rgba(162,219,254,1) 32%, rgba(161,255,221,1) 100%);
    height: 80vh;
}
.centered-contents
{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
a.panel-body
{
    display: block;
}
a.panel-body,
a.panel-body:hover,
a.panel-body:visited,
a.panel-body:active
{
    text-decoration: none;
}

.toc-item
{
    position: relative;
}

.anchor-permalink:hover 
{
    color: rgba(0,0,0,0.3);
}
.anchor-permalink
{
    position: absolute;
    left: -3.5rem;
    top: 4px;
    font-size: 24px;
    color: rgba(0,0,0,0.1);
}