---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      {{ content }}
    </div>
  </div>
  <div class="row">
    {%- for t in page.themes -%}
      {%- if t == "" -%}
          {%- continue -%}
      {%- endif -%}
      {%- if t.assetname -%} {% assign asset = t.assetname %} {% else %} {% assign asset = t.name %} {%- endif -%}
      <div class="col-md-3 col-sm-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h2>{{ t.name }}</h2>
                <img src="/img/themes/{{ t.img }}.png" alt="{{ t.name }} image" />
                <a href="/assets/themes/{{ asset }}.theme.json" target="_blank" class="btn btn-primary">Download</a>
            </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>
